<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="loginPage.css">
  <style>
    /* ===== RESET ===== */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", Tahoma, sans-serif;
    }

    body {
      background: linear-gradient(135deg, #1d2671, #c33764);
      min-height: 100vh;
      color: #333;
    }

    /* ===== NAVBAR ===== */


    /* ===== CONTAINER ===== */

  </style>
</head>

<body>

  <!-- ===== NAVBAR ===== -->
 <%- include('../components/navbar.ejs') %>

  <!-- ===== LOGIN FORM ===== -->
  <div class="container">
    <div class="login-card">
      <h2>Register Page</h2>

      <form action="/register" method="post">
        <div class="form-group">
          <label>Username</label>
          <input type="text" placeholder="Enter username" name="username" required>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" placeholder="Enter email" name="email" required>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" placeholder="Enter password" name ="password" required>
        </div>

        <button type="submit" class="btn">Register</button>
      </form>

      
    </div>
  </div>

</body>
</html>
