<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="navbar.css">
    <style>
    /* ===== RESET ===== */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", Tahoma, sans-serif;
    }

    body {
      background: linear-gradient(135deg, #1d2671, #c33764);
      min-height: 100vh;
      color: #333;
    }

    /* ===== NAVBAR ===== */


    /* ===== CONTAINER ===== */

  </style>
</head>
<body>
     <!-- ===== NAVBAR ===== -->
 <%- include('./components/navbar.ejs') %>

 <h1 style="color:white">This is my HomePage</h1>
</body>
</html>